button {
  height: 2rem;
  width: 8rem;
  color: white;
  background: #74b0e8;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #4c95da;
}

input,
textarea {
  border-bottom: solid black 1px;
  width: 65%;
  height: 2rem;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  background: #d6d6d6;
}
