* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.Cards {
  width: 170px;
  border: solid black 0.5px;
  border-radius: 15px;
  text-align: center;
  display: inline-block;
  grid-template: auto 1fr auto 1fr / auto;
  margin: 0.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Sections of Cards*/

.Cards > div:first-child {
  min-height: 2rem;
  border-radius: 15px 15px 0 0;
  grid-row: 1/2;
  border-bottom: solid black 1px;
  display: grid;
  place-items: center;
}
.Cards > div:nth-child(2),
.Cards > div:nth-child(3) {
  border-bottom: solid black 1px;
  padding: 5%;
}

.Cards > div > form:last-child {
  border-radius: 0 0 15px 15px;
  grid-row: 4/5;
  display: grid;
  grid-template: auto / 50% 50%;
}

.Cards > div:last-child {
  border-radius: 0 0 15px 15px;
  grid-row: 4/5;
}

.edit,
.delete {
  font-size: 1.5rem;
  background: transparent;
}

.edit {
  border-right: solid black 0.5px;
}

/* States of Cards */

.ToDo div:first-child,
.ToDo div:last-child {
  background: #e14040;
}

.InProgress div:first-child,
.InProgress div:last-child {
  background: #f5ef53;
}

.Done div:first-child,
.Done div:last-child {
  background: #73e140;
}
