#header {
  position: relative;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 8vh;
  background: #74b0e8;
  display: grid;
  grid-template: auto / 15% 85%;
  text-align: center;
}

#header > h1 {
  color: white;
  position: relative;
  top: 22%;
  font-size: 2.3rem;
}

#header > div > i {
  position: relative;
  top: 25%;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}

#header > div > i:hover {
  font-size: 2.5rem;
}
