#content {
  height: 92vh;
  padding: 20px;
  display: grid;
  grid-template: auto / 33% 33% 33%;
  font-family: Arial, Helvetica, sans-serif;
}

.contentList {
  background: white;
  margin-left: 10px;
  border-radius: 15px;
  text-align: center;
}

.contentList > h1 {
  color: white;
  background: #74b0e8;
  width: 100%;
  height: 3rem;
  text-align: center;
  border-radius: 15px 15px 0 0;
}
