#container {
  height: 92vh;
  display: grid;
  grid-template: 25% auto 25% / 25% auto 25%;
}

/* Elements*/
i {
  font-size: 1.8rem;
  width: 2rem;
  height: 2.4rem;
  text-align: center;
  background: #74b0e8;
}

/* place items*/
form {
  grid-column: 2/3;
  grid-row: 2/3;
  background: white;
  border-radius: 15px;
  text-align: center;
  display: grid;
  grid-template: 20% 5% 20% 5% 20% 5% 5% 15% / auto;
}

#contUser {
  grid-row: 2/3;
}

#contPass {
  grid-row: 4/5;
}

#contButton {
  grid-row: 6/7;
}

p {
  color: red;
  grid-row: 8/9;
  padding-top: 1rem;
}
