#container {
  height: 92vh;
  display: grid;
  grid-template: 25% auto 25% / 25% auto 25%;
  align-content: center;
}

form {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 55vh;
  background: white;
  border-radius: 15px;
  justify-items: center;
  align-content: center;
  display: grid;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
}

label {
  width: 65%;
}
