.hidden {
  opacity: 0;
  pointer-events: none;
}

.sideBar {
  position: fixed;
  z-index: 2;
  min-height: 100vh;
  width: 15rem;
  background: #90c1ee;
}

.sideBar > ul {
  height: 100%;
}

.sideBar > ul > li > i {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: right;
}

.sideBar > ul > li > div {
  margin-top: 20px;
  height: 2rem;
  font-size: 1.2rem;
}

.sideBar > ul > li > div:hover {
  text-align: center;
  background: #bfdcf6;
  border-radius: 15px 0 0 15px;
}

.sideBar > ul > li:last-child {
  position: absolute;
  bottom: 5%;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 15px;
}

.sideBar > ul > li:first-child {
  padding: 20px;
}
