<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../modules/headinicio', {title:'Inicio'}) %>
    <link rel="stylesheet" href="styles/inicio.css" />
    <link rel="stylesheet" href="styles/cards.css" />
  </head>
  <body>
    <%- include('../modules/sideBar') %> <%- include('../modules/header') %>
    <div id="content">
      <div id="doneContent" class="contentList">
        <h1>Done</h1>
        <% card.forEach((task)=>{ %> <% if (task.state == 'Done') { %> <%-
        include('../modules/card', {card:task}); %> <% } %> <% }) %>
      </div>
      <div id="inProgressContent" class="contentList">
        <h1>In Progress</h1>
        <% card.forEach((task)=>{ %> <% if (task.state == 'InProgress') { %> <%-
        include('../modules/card', {card:task}); %> <% } %> <% }) %>
      </div>
      <div id="toDoContent" class="contentList">
        <h1>To Do</h1>
        <% card.forEach((task)=>{ %> <% if (task.state == 'ToDo') { %> <%-
        include('../modules/card', {card:task}); %> <% } %> <% }) %>
      </div>
    </div>
    <script src="scripts/draganddrop.js"></script>
    <script src="scripts/sideBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/card.js"></script>
  </body>
</html>
