<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../modules/head', {title:'Log in'}) %>
    <link rel="stylesheet" href="styles/login.css" />
  </head>
  <body>
    <div id="container">
      <form method="POST" action="/login">
        <div id="contUser">
          <label for="user"><i class="fas fa-user"></i></label>
          <input type="text" id="user" name="username" />
        </div>
        <div id="contPass">
          <label for="pass"><i class="fas fa-key"></i></label>
          <input type="password" id="pass" name="password" />
        </div>
        <div id="contButton">
          <button>Log in</button>
        </div>
        <p><%= message %></p>
      </form>
    </div>
  </body>
</html>
