<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../modules/head', {title:'Nueva Tarea'}) %>
    <link rel="stylesheet" href="../styles/newTask.css" />
  </head>
  <body>
    <%- include('../modules/sideBar') %> <%- include('../modules/header.ejs') %>

    <div id="container">
      <form method="POST" action="/App/sendTask" id="newForm">
        <label>Nombre:</label>
        <input type="text" name="name" />
        <label>Dead Line:</label>
        <input type="datetime-local" name="date" />
        <label>Descripción:</label>
        <textarea name="description"></textarea>
        <button
          value="true"
          name="create"
          id="create"
          onclick="voidTask(event)"
        >
          Crear Tarea
        </button>
        <button value="true" name="cancel">Cancelar</button>
      </form>
    </div>
    <script src="../scripts/sideBar.js"></script>
    <script src="../scripts/voidValues.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
