<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../modules/head', {title:'Actualizar Tarea'}) %>
    <link rel="stylesheet" href="../styles/newTask.css" />
  </head>
  <body>
    <%- include('../modules/sideBar') %> <%- include('../modules/header') %>

    <div id="container">
      <form method="POST" action="updateTask" id="newForm">
        <label>Nombre:</label>
        <input type="text" name="name" value="<%= task.name %>" />
        <label>Dead Line:</label>
        <input
          type="datetime-local"
          name="date"
          value="<%= task.date.getFullYear() %>-<%= ('0' + (task.date.getMonth() + 1)).slice(-2) %>-<%= ('0' + task.date.getDate()).slice(-2) %>T<%= ('0' + task.date.getHours()).slice(-2) %>:<%= task.date.getMinutes() %>"
        />
        <label>Descripción:</label>
        <textarea name="description"><%= task.description %></textarea>
        <input type="hidden" value="<%= task._id %>" name="idTask" />
        <input type="hidden" value="<%= task.state %>" name="state" />
        <button value="true" name="update" onclick="voidTask(event)">
          Actualizar Tarea
        </button>
        <button value="true" name="cancel">Cancelar</button>
      </form>
    </div>
    <script src="../scripts/sideBar.js"></script>
    <script src="../scripts/voidValues.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
