<div class="Cards <%= card.state %>" draggable="true">
  <div>
    <p id="name"><%= card.name %></p>
  </div>
  <div>
    <p>Dead Line :</p>
    <p id="date"><%= card.date.toLocaleDateString("es-CO") %></p>
  </div>
  <div>
    <p id="description"><%= card.description %></p>
  </div>
  <div>
    <form action="/App/state" method="post" id="CardForm<%= card._id %>">
      <input type="hidden" value="<%= card._id %>" name="idTask" />
      <input type="hidden" value="<%= card.state %>" name="stateTask" />
    </form>
    <form action="/App/edit" method="post" id="cardForm<%= card._id %>">
      <input type="hidden" value="<%= card._id %>" name="idTask" />
      <input type="hidden" value="<%= card.state %>" name="stateTask" />
      <button id="edit<%= card.name %>" class="edit" value="true" name="edit">
        <i class="fas fa-pencil-alt"></i>
      </button>
      <button
        id="delete<%= card.name %>"
        class="delete"
        name="delete"
        onclick="deleteTask(event, '<%= card._id%>', '<%= card.name%>')"
      >
        <i class="fas fa-trash"></i>
      </button>
    </form>
  </div>
</div>
