<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>
<link
  rel="stylesheet"
  href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
/>
<link rel="stylesheet" href="../styles/main.css" />
<link rel="stylesheet" href="../styles/header.css" />
<link rel="stylesheet" href="../styles/sideBar.css" />
<link rel="stylesheet" href="../styles/button.css" />
