<div class="sideBar hidden">
  <ul>
    <li>
      <i class="fas fa-chevron-left" id="return"> </i>
    </li>
    <li>
      <div id="newTask">
        <i class="fas fa-plus"></i>
        <span>Nueva Tarea</span>
      </div>
    </li>
    <li>
      <div id="logout">
        <i class="fas fa-sign-out-alt"></i>
        <span>Cerrar Seccion</span>
      </div>
    </li>
  </ul>
</div>
